
<app-my-text-box [textBoxInputVariable]="testDisplay"  (outMyVar)="myDisplay($event)" ></app-my-text-box>


  <table class="table table-hover" [ngStyle]="{ 'width': testValue > 20 ? '50%' : '100%' }">


    <thead [ngClass]="{ 'table-header' : testValue > 20  }">
      <tr>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Age</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of studentsArray">
        <td>{{ item.first_name }}</td>
        <td>{{ item.last_name }}</td>
        <td>{{ item.age }}</td>
      </tr>
    </tbody>
  </table>


<label for=""> Test table</label>

<!-- [ngStyle]="{'font-size.px':24}" -->
  <div [ngSwitch]="myAmount">
    <p *ngSwitchCase="1">One is Selected</p>
    <p *ngSwitchCase="2">Two is Selected</p>
    <p *ngSwitchCase="3">Three is Selected</p>
    <p *ngSwitchDefault>This is Default</p>
  </div>


  <input (input)="myTypeFunction($event)"  placeholder="Enter your email">


  <!-- <label for="">{{testDisplay}}</label> -->



  <!-- <button (click)="myClickFunction()" type="button" class="btn btn-success">Success</button> -->

  <router-outlet></router-outlet>