<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"  routerLink="/landing/products" >Products</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/landing/abc">Login</a>
        </li>
      </ul>
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="logOut()">Logout</button>

      <label for="" style="color: greenyellow;"> {{cashDataService.userName}}</label>


      <label for="" class="ml-4" style="color: rgb(255, 95, 47);"> {{cashDataService.getTotalValue(12, 30)}}</label>
    </div>
  </nav>


  <router-outlet></router-outlet>