<!-- <input placeholder="My text box input"> -->
<label for=""> Input Var value : </label>
<label for=""> {{textBoxInputVariable}} </label>
<br>
<button  (click)="clickOnOutput()" type="button" class="btn btn-success">Output Event</button>