<div class="container mt-4"  *ngIf="isLogin">

    <div class="card">
        <div class="card-body">
          <h5 class="card-title">User Login</h5>
          <p class="text-danger">{{erroMessage}}</p>
          
            <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}"  type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                
                <button  class="btn btn-primary mt-4" (click)="navigate()">Login</button>
                <button  class="btn btn-light mt-4" (click)="goToRegister()">Go to Register</button>
            </form>
        </div>
      </div>
</div>


<div class="container mt-4"   *ngIf="!isLogin">

  <div class="card">
      <div class="card-body">
        <h5 class="card-title">User Registration</h5>
          <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}"  type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}"  type="password" class="form-control" id="exampleInputPassword1">
              </div>


              <div class="form-group">
                <label for="exampleInputFirstName">First Name</label>
                <input [(ngModel)]="firstName" [ngModelOptions]="{standalone: true}"  type="text" class="form-control" id="exampleInputFirstName">
              </div>


              <div class="form-group">
                <label for="exampleInputLastName">Last Name</label>
                <input  [(ngModel)]="lastName" [ngModelOptions]="{standalone: true}"  type="text" class="form-control" id="exampleInputLastName">
              </div>

              
              
              <button  class="btn btn-primary mt-4" (click)="sendRegisterRequest()" >Register</button>
              <button  class="btn btn-light mt-4" (click)="goToLogin()">Back To Login</button>
              <!-- [queryParams]="{ page: 99 }" -->
            </form>
      </div>
    </div>
</div>