<!-- <input [(ngModel)]="empName" placeholder="Enter name">

Hello World  {{empName}}


<p *ngIf="empAge > 20"> This is test if condition </p>
<label for=""> Test app</label>
========================================================================================================================

<app-table></app-table> -->


<router-outlet></router-outlet>

