<div class="container">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Search Text</span>
    </div>
    <input (input)="setFilterText($event)" type="text" class="form-control" aria-label="Default"
      aria-describedby="inputGroup-sizing-default">
  </div>
  <form *ngIf="isUpdateFormActive">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputName">Product Name</label>
        <input [(ngModel)]="formProductName" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="inputName">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPrice">Price</label>
        <input [(ngModel)]="formProductPrice" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="inputPrice">
      </div>
    </div>
    <div class="form-group">
      <label for="inputDescription">Description</label>
      <input [(ngModel)]="formProductDescription" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="inputDescription" >
    </div>
    
    <button class="btn btn-primary mt-4" (click)="sendUpdateRequest()" >Update</button>
  </form>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <!-- <th scope="col">#</th> -->
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <h1 *ngIf="!isResultLoded"> Loading.....</h1>
      <tr *ngFor="let productItem of productsArray | filterProducts: filterText">
        <!-- <th scope="row">1</th> -->
        <td>{{productItem.name | uppercase}}</td>
        <td>{{productItem.price | currency:'USD'}}</td>
        <td>{{productItem.description}}</td>

        <td>

          <button type="button" class="btn btn-danger" (click)="sendDeleteRequest(productItem)" >Delete</button>
          <button type="button" class="btn btn-warning mr-2" (click)="setUpdateFormData(productItem)">Edit</button>

        </td>

        <!-- <td>{{ getPriceWithCurrency(productItem.price) }}</td>    -->

      </tr>
    </tbody>
  </table>

</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Enter Age Here</span>
  </div>
  <input [(ngModel)]="myAge" type="text" class="form-control" aria-label="Default"
    aria-describedby="inputGroup-sizing-default">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Enter Age2 Here</span>
  </div>
  <input (input)="getTotal($event)" type="text" class="form-control" aria-label="Default"
    aria-describedby="inputGroup-sizing-default">
</div>


<label for=""> {{total}} </label>












<app-test-event [age]="myAge"></app-test-event>